.media {
  display: flex;
  font-size: 12px;
  max-width: 500px;
  white-space: nowrap;
  align-items: center;
  overflow: hidden;
  position: relative;
  border-radius: 3px;
}

.media img {
  filter: brightness(0) invert(1);
  width: 20px;
  height: 20px;
  margin-right: 6px;
}

.progress-play {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  background-color: #b3ebff;
  border-radius: 2px;
}
.media-text {
  max-width: 200px;
  margin-left: 3px;
  white-space: nowrap;
  overflow: hidden;
}

.prev,
.play-pause,
.next {
  padding-top: 1px;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  font-size: 15px;
  &:active {
    .content {
      animation: appear 0.2s ease;
    }
  }
}
