.workspaces {
  display: flex;
  align-items: center;
}

.workspace {
  width: 24px;
  height: 24px;
  justify-content: center;
  transition: background 0.5s ease, width 0.5s ease;

  &.displayed {
    background: #aeaeae33;
    box-shadow: 0 -1px 1px #9e9e9e44, 0 1px 1px #24242455;
  }

  &.focused span {
    animation: appear 0.2s ease;
  }
}

.workspace-icon {
  display: inline-block;
  pointer-events: none;
}

.i-brave {
  margin-top: 4px;
}